
#filter-container {
  padding-left: 5px;
  margin-left: -5px;
}

#filter-container .list-inline > li {
  display: inline-flex !important;
}

#filter-container figure {
  width: 300px;
  float: left;
  margin-right: 20px;
  margin-bottom: 30px;
  -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
}
#filter-container figure .thumb {
  display: block;
  width: 100%;
  line-height: 0em;
  border-bottom: 2px solid #ccc;
}
#filter-container figure .thumb img {
  max-width: 100%;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#filter-container figure .thumb:hover img {
  opacity: 0.4;
}
#filter-container figure figcaption {
  margin: 18px 10px 20px 10px;
  text-align: center;
}
#filter-container figure figcaption .heading {
  margin-bottom: 13px;
  font-size: 32px;
  line-height: 1.2em;
  display: block;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#filter-container figure figcaption .readmore {
  display: block;
  margin: 10px 0px;
}

#filter-container figure .thumb {
  background: #fff url(../img/icon-link.png) center center no-repeat;
}

#filter-container figure figcaption .heading {
  color: #444444;
}
#filter-container figure figcaption .heading:hover {
  /*color: #cb5432;*/
  transform: scale(1.1);
}
#filter-container figure {
  background: #fff;
}